#intro-text {
  font-family: 'Press Start 2P', sans-serif;
  position: absolute;
  z-index: 2;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: $color-white;
  text-shadow: 3px 3px 0 $color-gray;
  cursor: crosshair;
  background-color: $color-black;
  transition: all 0.5s;

  &.hidden {
    color: rgb(255 255 255 / 0%);
    background-color: transparent;
    text-shadow: 3px 3px 0 transparent;
  }
}

@media (max-width: 680px) {
  #intro-text {
    font-size: 25px;
  }
}
