.ui-score {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  color: $color-white;
  font-weight: bold;
  z-index: 3;
  font-size: 5vw;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
  width: 5vw;
  transition: all 0.3s;

  &.active {
    opacity: 1;
  }
}
