#text-bubble-anchor {
  width: 80%;
  left: 10%;
  top: 5%;
  position: absolute;
  z-index: 3;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#text-bubble-template {
  display: none;
}

.text-bubble {
  border: 3px solid $color-white;
  padding: 2em;
  width: 100%;
  position: relative;
  color: $color-white;
  opacity: 0.875;
  text-align: center;
  margin-bottom: 1em;
  transition: all 0.1s;
  background-color: rgb(0 0 0 / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  // Fade out before removal
  &.removed {
    opacity: 0;
  }

  // Shake whole frame in for effect
  &.slam {
    animation: slam 0.15s 2;
    font-family: 'Black Han Sans', Arial, Helvetica, sans-serif;
    @keyframes slam {
      0% {
        transform: translate(0, 0);
      }

      25% {
        transform: translate(5px, 5px);
      }

      50% {
        transform: translate(0, 0);
      }

      75% {
        transform: translate(-5px, 5px);
      }

      100% {
        transform: translate(0, 0);
      }
    }
  }

  // Individual Letters
  span {
    opacity: 0;
    min-width: 0.5em;

    &.revealed {
      opacity: 1;
    }

    &.bold {
      font-weight: 700;
    }

    &.large {
      font-size: 3em;
    }

    &.small {
      font-size: 0.75em;
    }
  }
}
